.env
.ipynb_checkpoints
.vscode/
__pycache__
*.pyc
*.log
.DS_Store

settings.json

# Elastic Beanstalk Files
.elasticbeanstalk/logs
.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Pycharm Files
.idea